//Microsoft Developer Studio generated resource script.
//
/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
    "\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,9,6,0
 PRODUCTVERSION 0,9,6,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080004b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Vladimir Shutoff\0"
            VALUE "FileDescription", "sim\0"
            VALUE "FileVersion", "0, 9, 6, 0\0"
            VALUE "InternalName", "sim\0"
            VALUE "LegalCopyright", "Copyright © 2002-2003\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "sim.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "SIM\0"
            VALUE "ProductVersion", "0, 9, 6, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 1200
    END
END

#endif    // !_MAC


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON    DISCARDABLE     "sim.ico"
#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    1                       "Simple Instant Messenger"
END

/////////////////////////////////////////////////////////////////////////////

